.App {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: 40px;
  flex-direction: column;
  background-color: #f0f0f0;
}

body {
  margin: 0;
  padding: 0;
}

.trip {
  width: 600px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border: 1px solid lightgray;
  font-family: Arial, Helvetica, sans-serif;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.trip:hover {
  box-shadow: rgba(100, 100, 60, 0.8) 0px 7px 50px 0px;
  cursor: pointer;
}
.trip .trip-id {
  flex: 20%;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid lightgray;
  background-color: dodgerblue;
  display: grid;
  place-content: center;
  color: white;
}

.trip .trip-body {
  flex: 60%;
  padding: 15px;
  display: grid;
  align-items: start;
}

.post .footer {
  flex: 20%;
  border-top: 1px solid lightgray;
  display: flex;
  align-items: center;
  padding-left: 15px;
  background-color: dodgerblue;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


/*
  GenerateTrip page
*/



.generateTripPage {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 170vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.generateTripPage h1 {
  color: dodgerblue;
  display: flex;
}

.generate-trip-container {
  position: absolute;
  top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: auto;
  padding: 40px;
  border: 5px solid dodgerblue;
  border-radius: 20px;
  background-color: white;
}


.generate-trip-container #gnerate-trip-input {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}

.generate-trip-container button {
  margin-top: 15px;
  height: 40px;
  border: none;
  font-size: large;
  background-color: lightskyblue;
  border-radius: 5px;
  color: white;
}

.generate-trip-container button:hover {
  cursor: pointer;
  background-color: dodgerblue;
}

span {
  color: red;
}